*{
    /* background-color: red; */
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
    font-family: "Poppins";
}

.panda-btn {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    padding: 15px 25px;
    color: white;
    font-weight: 500px;
    border: none;
    border-radius: 6px;
    margin: 50px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.common-section-title {
    font-weight: 600px;
    font-size: 36px;

}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.search-parent {
    position: relative;
    color: #bababa;
}

.search-parent input {
    background: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    border: none;
}

.search-parent i {
    position: absolute;
    top: 17px;
    right: 20px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 10px;
    
}
.nav-items a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #707070;
}

/* Banner */
.banner {
    background-color: #FEEAE9;
    max-width: 1212px;
    margin: auto;
    height: 455px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin-top: 15px;
}  

.banner h1 {
    color: rgb(31, 31, 31);
    font-size: 56px;
    font-weight: 700;
}

.banner p {
    color: rgb(78, 78, 78);
    font-size: 16px;
    font-weight: 400;
    max-width: 460px;
}
.banner-price {
    color: #FF136F;
    font-size: 52px;
    font-weight: bold;
    padding: 20px;
    display: block;
}
.banner img {
    width: 402px;
    height: 378px;
}
.categories{
    max-width: 1130px;
    margin: 64px auto;
}
.categories-card-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.category-card h3 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.category-card:nth-child(1) {
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    
}
.category-card:nth-child(2) {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.category-card:nth-child(3) {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.shoe-section{
    padding: 50px 0;
}

.shoe-card-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 50px;
}
.shoe-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}
.card-price {
    display: block;
    font-weight: 600px;
    font-size: 22px;
    margin-bottom: 12px;
}
.shoe-card img {
    width: 336px;
    height: 202px;
}
.shoe-card .panda-btn {
    background: black;
}
.shoes-backpack-section-title {
    display: flex;
    justify-content: space-between;
}
.shoes-backpack-section-title h1 {
    font-weight: bold;
    font-size: 36px;
}
.shoes-backpack-section-title p {
    font-weight: 26px;
    color: #FF9D00;
}
.shoes-backpack-parent {
    background-color: #F4F4F4;
}