*{
    /* background-color: red; */
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}
.search-parent {
    position: relative;
    color: #bababa;
}

.search-parent input {
    background: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    border: none;
}

.search-parent i {
    position: absolute;
    top: 17px;
    right: 20px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 10px;
    
}
.nav-items a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #707070;
}

/* Banner */
.banner {
    background-color: #FEEAE9;
    max-width: 1212px;
    margin: auto;
    height: 455px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.banner h1 {
    color: rgb(31, 31, 31);
    font-size: 56px;
    font-weight: 700;
}

.banner p {
    color: rgb(78, 78, 78);
    font-size: 16px;
    font-weight: 400;
}
.price {
    color: rgb(255, 19, 111);
    font-size: 41px;
    font-weight: 500;
}
.banner img {
    width: 402px;
    height: 378px;
}